@font-face {
  font-family: 'Ilisarniq Light';
  src: url('../fonts/Ilisarniq-Light.otf');   
}
@font-face {
  font-family: 'Ilisarniq';
  src: url('../fonts/Ilisarniq-Regular.otf');   
}
@font-face {
  font-family: 'Publico Text';
  src: url('../fonts/PublicoText-Roman-Web.ttf');   
}


.card__custom {
  margin-bottom: 10px;
}

.card__thumb {
  width: 172px;
  height: 172px;
  object-fit: cover;
}

.card__subtitle {
  font-style: italic;
  margin-bottom: 40px;
}

.ccss
{
    background: white;
    font-family: Publico Text;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 69px;
}

.ab1{
    background-color: black;
    padding: 135px 0 100px;
}

.ab2{
    font-family: 'Ilisarniq Light';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    width: 18%;
    text-align: left;
    margin-top: 5px;
}

.abcolor{
  color: white;
  font-family: 'Publico Text';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.team1{
font-family: Rotunda;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
}


.portfolio{
font-family: Rotunda;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
}



#mainNav .container-fluid{
  padding: 0 40px;
}
nav.sticky{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  animation: stickySlideDown 0.5s ease;
  background: rgb(255 255 255 / 40%) 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(12px);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
@keyframes stickySlideDown {
0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}
.masthead h1{
  font-family: 'Publico Text';
  font-size: 60px;
  line-height: 74px;
}
.masthead img{
  max-width: 620px;
}

/* ---- About Section --- */
.about-info{
  display: flex;
}
.abcolor h5{
  font-family: 'Publico Text';
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  max-width: 530px;
}
.abcolor p{
  max-width: 530px;
}


/* --- Team Section --- */

#team{
  background-color: #F6F6F6;
  padding: 127px 0;
}
#team .team1{
  font-family: 'Ilisarniq Light';
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  width: 18%;
}
.team-details{
  display: block;
}
.team-info{
  text-align: left;
  display: inline-block;
  margin-right: 25px;
  font-family: 'Publico Text';
}
.team-info h5{
  text-decoration: underline;
  font-family: 'Publico Text';
  font-size: 20px;
  line-height: 28px;
}
.team-info h6{
  font-family: 'Publico Text';
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
}

.team-info img{
  width: 225px;
  height: 225px;
}
#team .ab2{
  margin-top:0;
}
.team-details{
  display: flex;
}
.portfolio-header{
  display: flex;  
  justify-content: left;
  margin-bottom: 90px;
}
.filter-button{
  margin-right: 20px;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Ilisarniq';
  padding: 2px 10px;
  margin-bottom: 10px;
}
.active-filter{
  color:#000;
  border-color: #000;
}
.filter-content{
    width: 100%;
}
.filter-buttons{
  width: 73.5%;
  text-align: left;
}

.filter-buttons .filter-button:last-child{  
  margin-right: 0;
}

.footer-logo img{
  width: 201px;
}
.filter{
  border-bottom: 1px solid #000;
}
.filter-content .filter:first-child{
  border-top: 1px solid #000;
}
.lead .row{
  margin: 0;
}
.filter-content .lead{
  font-family: 'Publico Text';
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  color:#000
}
.company-info{
  font-family: 'Ilisarniq';
}
.social-icon i{
  font-size: 35px;
}
.social-icon span:last-child{
  margin-left: 15px;
}
/*.list-group-item .row{
  align-items: center;
}*/

/* Footer */
.footer-logo{
  text-align:left;
}
footer .footer-content{
  text-align: left;
  font-family: 'Publico Text';
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}
footer .footer-content p{
  margin-bottom: 0;
}
.copyright{
  font-size: 16px;
}
footer a:hover{
  text-decoration: none;
  color:#E49F3E;
}











footer.bg-black .container-fluid,
#mainNav .container-fluid{max-width:1430px; }

.list-group-flush > .list-group-item:hover{background-color:#f6f6f6;}
.copyright {font-family: 'Ilisarniq Light'; }
.MyGreY{width:172px;height:172px;background-color: #C4C4C4;margin:auto;}
body .masthead{padding-top: 40px;}
.filter-button.active-filter{font-family: 'Ilisarniq';}
.filter-button{font-family: 'Ilisarniq Light';}
.team-info h6{line-height: 10px;color: #000000;}
.team-info h5 a{color: #000000;}
.company-info{font-size:16px;}
body .filter,
body .filter-content .filter:first-child {border-color:#939090;width:100% !important;}
body .ab2{width:26.5%;font-family: 'Ilisarniq';font-weight: bold;}
body .about-info .row.gx-5{margin:0;}
.company-info .types_text{font-family: 'Ilisarniq Light';}
.company-info .types_text a{font-family: 'Ilisarniq Light';color:#000;text-decoration:none;}
body #mainNav .navbar-nav .nav-item .nav-link:hover{text-shadow: none;}

.team-details,
body .masthead .text-lg-start{animation: firstanimatebottom 2s;transition-property: opacity,transform;position: relative;}
body .about-info {animation: animatebottom 2s;transition-property: opacity,transform;position: relative;}
.align-items{display:flex;align-items:center;flex-wrap:wrap;}
.list-group-item.collapsed{cursor:pointer;}
.social-icon a{display: inline-block;color:#000;}

@media screen and (max-width: 767px)
{
  body .ab2{width:100%;text-align: left;}  
}

.banner-container{
  width: 100%;
  height: 450px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.banner-container .b1{
  position: absolute;
  top: 58px;
  left: 234px;
}

.banner-container .b2{
  top: 135px;
  position: absolute;
  left: 179px;
}

.banner-container .b3{
  position: absolute;
  top: 207px;
  left: 117px;
}

.banner-container .banner-span{
  font-family: Publico Text;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: -0.02em;
  color: #000000;
  display: block;
  text-align: left;  
  width: 620px;  
  padding-bottom: 200px;
  height: 350px;
  z-index: 1;
  position: absolute;
}

.team-info .team-image{
  display: inline;  
}


.team-info .team-image-hover{
  display: none;  
}

.team-info:hover .team-image{
  display: none;  
}


.team-info:hover .team-image-hover{
  display: inline;  
}


.list-group-item .thumbnail{
  display: inline;
  width: 27%;
}


.list-group-item .thumbnail-secondary{
  display: none;
  width: 27%;
}



.company-info .types_text a:hover{
  color: #E49F3E;
}

.team-info h5 a:hover{
  color: #E49F3E;
}

.list-group-item:hover .thumbnail{
  display: none;
}

.portfolio-col {
  width: 100% !important;
}

.list-group-item:hover .thumbnail-secondary{
  display: inline;
}

.left-wrap{
  padding-left: 40px;
  padding-right: 40px;
}

.mobile-wrap-container{
  padding-left: 40px;
  padding-right: 40px;
}

@media only screen and (max-width:767px){
  .mobile-wrap-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .left-wrap{
    padding-left: 20px;
    padding-right: 20px;
  }
  .card__custom{
    text-align: left;
  }

  .card__custom img{ 
    height: auto;    
  }
}

@media only screen and (max-width:600px){
  .card__custom img{ 
    width: 300px;    
  }
}

@media only screen and (max-width:1149px){
  .ab2{
      margin-bottom: 20px;
  }
  .team-info img{
    width: 172px;
    height: 172px;
  }
}

@media only screen and (max-width:991px){

 
  .team-info img{
      width: 172px;
      height: 172px;
  }
  .filter-buttons{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      width: 100%;
  }

  #mainNav .container-fluid{
      padding: 0 20px;
  }
  #mainNav{
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .menu-open #mainNav{
      box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
      
  }
  .navigation-button {
      position: relative;
      width: 22px;
      height: 14px;
      z-index: 9;
      display: inline-block;
      cursor: pointer;
  }
  .navigation-button .navbar-line {
      background-color: #484848;
      height: 2px;
      width: 20px;
      transform: rotate(0);
      left: 0;
      right: 0;
      transition: 0.2s;
      display: block;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
  }
  .navigation-button .navbar-line:nth-child(1) {
      top: 0;    
  }
  .menu-open .navigation-button .navbar-line:nth-child(1),.menu-open .navigation-button .navbar-line:nth-child(4) {
      width: 0;
  }
  .navigation-button .navbar-line:nth-child(2), .navigation-button .navbar-line:nth-child(3) {
      top: 6px;
  }
  .menu-open .navigation-button .navbar-line:nth-child(2){
      transform: rotate(-45deg);
  }
  .menu-open .navigation-button .navbar-line:nth-child(3) {
      transform: rotate(45deg);
  }
  .navigation-button .navbar-line:nth-child(4) {
      top: 12px;    
  }
  .navbar-nav{
      margin-bottom: 0 !important;
      text-align: left !important;
      padding: 20px 0;
  } 
  #mainNav .navbar-nav .nav-item{
      margin-right: 0;
      margin-bottom: 15px;
  }
  #mainNav .navbar-nav .nav-item:last-child{
      margin-bottom: 0;
  }
  .ab2{
      margin-bottom: 40px;
      text-align: left;
      width: 100%;
  }
  .about-info{
      flex-direction: column;
  }
  .about-info .row{
      margin: 0;
      justify-content: center;
  }
  /* #team .row{
      flex-direction: column;
      margin: 0;
  } */
  .portfolio-header{
      flex-direction: column;
      text-align: left;
  }
  .portfolio-header .ab2{
      width: 100%;
  }
  .team-details{
      justify-content: left;
      width: 100%;
  }
  .team-details .team-info:last-child{
      margin-right: 0;
  }
  
  .portfolio-header{
      margin-bottom: 40px;
  }
  .list-group-item img{
      height: auto;
      max-width: 80%;
  }
  .company-info{
      flex-direction: column;
      align-items: flex-start !important;
      margin-top: 20px !important;
  }
  .filter-content .lead{
      font-size: 18px;
  }
  .company-info .col-sm-4{
      margin-bottom: 20px;
  }
  .company-info .col-sm-4:last-child{
      margin-bottom: 0px;
  }
  .abcolor h5,.abcolor p{
      max-width: 100%;
  }

  
  .left-wrap{
      padding-left: 40px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-right: 40px !important;
  }

  .mobile-wrap-container{
      padding-left: 40px;
      padding-right: 40px;
  }
}
@media only screen and (max-width:767px){

  
  .left-wrap{
      padding-left: 20px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-right: 20px !important;
  }

  .mobile-wrap-container{
      padding-left: 20px;
      padding-right: 20px;
  }
  .list-group-item{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .masthead img{
      max-width: 400px;
  }
  .masthead .px-5{
      padding-left: 3rem !important;
      padding-right: 3rem !important;
  }
  .px-5{
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
  .abcolor h5{
      font-size: 20px;
      line-height: 28px;
  }
  .abcolor p{
      font-size: 16px;
      line-height:24px;
      margin-bottom: 10px !important;
  }
  .ab1{
      padding: 60px 0;
  }
  .filter-button{
      margin-right: 10px;
      font-size: 14px;
      margin-bottom: 10px;
  }
  footer{
      padding: 0 20px;
  }
  footer .row{
      justify-content: space-between;
      margin: 0;
  }
  .team-info{
      margin-right: 20px;
  }
  .card__thumb{
      width: 150px;
      height: 150px;
  }
  #team{
      padding: 60px 0;
  }
  .filter-buttons{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      width: 100%;
  }
  
}
@media only screen and (max-width:600px){
  .team-details{
      flex-direction: column;
  }
  .team-info{
      margin-right: 0;
      text-align: center;
  }
  .list-group-item{
      padding: 50px 0;
  }
  .list-group-item .row{
      justify-content: flex-start;
      flex-direction: column;
  }
  .filter-content .lead{
      width: 100%;
      padding: 0 15px;
      margin-top: 15px;
  }
  .list-group-item .col-sm-4{
      width: 100%;
      padding: 0 15px;
  }
  .company-info .col-sm-4{
      padding: 0;
  }    
  .filter-buttons{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      width: 100%;
  }
 
  .masthead img{
      max-width: 100%;
  }    
  footer .row{
      flex-direction: column;
  }
  .footer-logo{
      margin-bottom: 30px;
      text-align: left;
  }
  footer .footer-content{
      text-align: left;
      font-size: 16px;
  }
  .copyright{
      font-size: 14px;
  }
}

@media only screen and (max-width:375px){
  .banner-container {
      height: 200px;
  }
  .banner-container .banner-span{
      font-family: Publico Text;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: #000000;
      display: block;
      text-align: left;        
      width: 320px;             
      height: 350px;
      z-index: 1;
      position: absolute;
  }
  .banner-container .b1 {
      position: absolute;
      top: 29px;
      left: 140px;
      width: 149px;
  }

  .banner-container .b2 {
      top: 68px;
      position: absolute;
      left: 114px;
      width: 127px;
  }
  
  .banner-container .b3 {
      position: absolute;
      top: 101px;
      left: 83px;
      width: 219px;
  }
}




