@media only screen and (max-width:991px){
    .filter-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
    }
    .filter-button{
        margin-top: 15px;
    }
    #mainNav .container-fluid{
        padding: 0 20px;
    }
    #mainNav{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .menu-open #mainNav{
        box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
        
    }
    .navigation-button {
        position: relative;
        width: 22px;
        height: 14px;
        z-index: 9;
        display: inline-block;
        cursor: pointer;
    }
    .navigation-button .navbar-line {
        background-color: #484848;
        height: 2px;
        width: 20px;
        transform: rotate(0);
        left: 0;
        right: 0;
        transition: 0.2s;
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }
    .navigation-button .navbar-line:nth-child(1) {
        top: 0;    
    }
    .menu-open .navigation-button .navbar-line:nth-child(1),.menu-open .navigation-button .navbar-line:nth-child(4) {
        width: 0;
    }
    .navigation-button .navbar-line:nth-child(2), .navigation-button .navbar-line:nth-child(3) {
        top: 6px;
    }
    .menu-open .navigation-button .navbar-line:nth-child(2){
        transform: rotate(-45deg);
    }
    .menu-open .navigation-button .navbar-line:nth-child(3) {
        transform: rotate(45deg);
    }
    .navigation-button .navbar-line:nth-child(4) {
        top: 12px;    
    }
    .navbar-nav{
        margin-bottom: 0 !important;
        text-align: left !important;
        padding: 20px 0;
    } 
    #mainNav .navbar-nav .nav-item{
        margin-right: 0;
        margin-bottom: 15px;
    }
    #mainNav .navbar-nav .nav-item:last-child{
        margin-bottom: 0;
    }
    .ab2{
        margin-bottom: 40px;
        text-align: left;
        width: 100%;
    }
    .about-info{
        flex-direction: column;
    }
    .about-info .row{
        margin: 0;
        justify-content: center;
    }
    /* #team .row{
        flex-direction: column;
        margin: 0;
    } */
    .portfolio-header{
        flex-direction: column;
        text-align: left;
    }
    .portfolio-header .ab2{
        width: 100%;
    }
    .team-details{
        justify-content: left;
        width: 100%;
    }
    .team-details .team-info:last-child{
        margin-right: 0;
    }
    
    .portfolio-header{
        margin-bottom: 40px;
    }
    .list-group-item img{
        height: auto;
        max-width: 80%;
    }
    .company-info{
        flex-direction: column;
        align-items: flex-start !important;
        margin-top: 20px !important;
    }
    .filter-content .lead{
        font-size: 18px;
    }
    .company-info .col-sm-4{
        margin-bottom: 20px;
    }
    .company-info .col-sm-4:last-child{
        margin-bottom: 0px;
    }
    .abcolor h5,.abcolor p{
        max-width: 100%;
    }

    
    .left-wrap{
        padding-left: 40px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-right: 40px !important;
    }

    .mobile-wrap-container{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media only screen and (max-width:767px){

    
    .left-wrap{
        padding-left: 20px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-right: 20px !important;
    }

    .mobile-wrap-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .list-group-item{
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    }
    .masthead img{
        max-width: 400px;
    }
    .masthead .px-5{
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .px-5{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .abcolor h5{
        font-size: 20px;
        line-height: 28px;
    }
    .abcolor p{
        font-size: 16px;
        line-height:24px;
        margin-bottom: 10px !important;
    }
    .ab1{
        padding: 60px 0;
    }
    .filter-button{
        margin-right: 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    footer{
        padding: 0 20px;
    }
    footer .row{
        justify-content: space-between;
        margin: 0;
    }
    .team-info{
        margin-right: 20px;
    }
    .card__thumb{
        width: 150px;
        height: 150px;
    }
    #team{
        padding: 60px 0;
    }
    .filter-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
    }
    .filter-button{
        margin-top: 15px;
    }
}
@media only screen and (max-width:600px){
    .team-details{
        flex-direction: column;
    }
    .team-info{
        margin-right: 0;
        text-align: center;
    }
    .list-group-item{
        padding: 50px 0;
    }
    .list-group-item .row{
        justify-content: flex-start;
        flex-direction: column;
    }
    .filter-content .lead{
        width: 100%;
        padding: 0 15px;
        margin-top: 15px;
    }
    .list-group-item .col-sm-4{
        width: 100%;
        padding: 0 15px;
    }
    .company-info .col-sm-4{
        padding: 0;
    }    
    .filter-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
    }
    .filter-button{
        margin-top: 15px;
    }
    .masthead img{
        max-width: 100%;
    }    
    footer .row{
        flex-direction: column;
    }
    .footer-logo{
        margin-bottom: 30px;
        text-align: left;
    }
    footer .footer-content{
        text-align: left;
        font-size: 16px;
    }
    .copyright{
        font-size: 14px;
    }
}

@media only screen and (max-width:375px){
    .banner-container {
        height: 160px;
    }
    .banner-container .banner-span{
        font-family: Publico Text;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: #000000;
        display: block;
        text-align: left;        
        width: 320px;             
        height: 350px;
        z-index: 1;
        position: absolute;
    }
    .banner-container .b1 {
        position: absolute;
        top: 29px;
        left: 140px;
        width: 149px;
    }

    .banner-container .b2 {
        top: 68px;
        position: absolute;
        left: 114px;
        width: 127px;
    }
    
    .banner-container .b3 {
        position: absolute;
        top: 101px;
        left: 83px;
        width: 219px;
    }
}